* html { overflow-x: hidden; }

/*a[rel=facebox] { text-shadow:1px 1px 1px rgba(255,255,255,0.7); }*/


input, button, a, object, embed { hide-focus: expression(this.hideFocus=true); outline: none; }
input::-moz-focus-inner, button::-moz-focus-inner { border-color: transparent !important; }
a, input, button, select { -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -ms-transition-duration: 0.5s; }


.editable { border-bottom:1px dotted #333; }
.editable input, .editable textarea { font-size:11px; border:1px solid #C6D9E9; }
.editable button { border:0; border-radius:99px; cursor:pointer; padding:0; margin:1px; width:22px; height:22px; display:inline-block; color:white; font-size:12px; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -ms-transition-duration: 1s; }
.editable button[type=submit] { background-color:lightgreen; }
.editable button[type=submit]:hover { background-color:darkgreen; }
.editable button[type=cancel] { background-color:silver; }
.editable button[type=cancel]:hover { background-color:#333; }


.products { font-size: 0; padding: 10px 0; }
.products a { position: relative; display: inline-block; width: 65px; height: 65px; margin: 6px; margin: 2px\9; -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.07); box-shadow: 0 0 2px rgba(0,0,0,0.07); border: 4px solid #EAF3FA\9; border-radius: 10px; vertical-align: middle; overflow: hidden; cursor: default; -moz-transition-property: opacity,border-color,box-shadow; -webkit-transition-property: opacity,border-color; -webkit-transition-property: opacity,border-color,box-shadow; -ms-transition-property: opacity,border-color,box-shadow; }
.products.operable a { cursor: pointer; }
.products a.invalid { background-color: red; }
.products a.invalid img { opacity: 0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; _filter: alpha(opacity=90); }
.products a.selected { border-color: #80B5D0 !important; -webkit-box-shadow: 0 0 8px #80B5D0, 0 0 8px #80B5D0, 0 0 8px #80B5D0 !important; box-shadow: 0 0 8px #80B5D0, 0 0 8px #80B5D0, 0 0 8px #80B5D0 !important; }
.products a:hover { border-color: silver; -webkit-box-shadow: 0 0 8px silver, 0 0 8px silver, 0 0 8px silver; box-shadow: 0 0 8px silver, 0 0 8px silver, 0 0 8px silver; }
/*.products a:active { border-color: #d54e21 !important; }*/
.products a img { width: 65px; height: 65px; border-radius: 10px; background-color: white; }
.products a:before { content: ""; z-index: 999; position: absolute; top: 0; left: 0; width: 65px; height: 33px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.7)), to(rgba(255,255,255,0.05))); background-image: -moz-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.05)); background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.05)); background-image: -ms-linear-gradient(top, rgba(255,255,255,0.7), rgba(255,255,255,0.05)); border-top-right-radius: 10px; border-top-left-radius: 10px; border-bottom-right-radius: 33px 10px; border-bottom-left-radius: 33px 10px; }
.products a:after { content: ""; z-index: 998; position: absolute; top: 0; left: 0; width: 65px; height: 65px; border-radius: 10px; box-shadow: 0px -1px 1px rgba(0,0,0,0.1) inset, 0px 1px 1px rgba(255,255,255,1) inset; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1))); background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1)); }


table.role-table th,
table.role-table td {
	border-bottom: none;
	font-size: 12px;
}


table.special_table tr {background-color:transparent;}
table.special_table tr td {margin-bottom:0;padding:0;border-bottom-width:0;background-color:transparent;}
table.special_table tr .file {position:relative;width:24px;height:16px;}
table.special_table tr .file .link {z-index:-1;}
table.special_table tr .file .span {z-index:0;position:absolute;top:0;left:0;cursor:pointer;width:24px;height:16px;overflow:hidden;white-space:nowrap;}
table.special_table tr .file .field {opacity:0.1;filter:alpha(opacity=10);cursor:pointer;width:24px;height:16px;overflow:hidden;white-space:nowrap;}


.op a {
background-color:#C6D9E9;
border-color:#80B5D0;
color:#224466;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border-style:solid;
border-width:1px;
padding:3px 5px;
vertical-align:middle;
text-decoration:none;
font-size:12px;
margin-bottom: 1px;
display:inline-block;
zoom:1;
}
.op a:hover {
color:#D54E21;
border-color: #328ab2;
}


.status_button {
	display: block;
	cursor: default;
	width: 28px;
	height: 28px;
	margin: 1px;
	opacity: 0.8;
	border-radius: 999px;
	transition-property: background-color;
	background-color: silver;
	&.active {
		background-color: green;
	}
	&.enable {
		cursor: pointer;
		&:hover {
			width: 30px;
			height: 30px;
			margin: 0px;
		}
		&.loading {
			transition-duration: 0s;
			cursor: wait;
			background-color: #606060 !important;
			&.active {
				background-color: #004000 !important;
			}
		}
	}
}
