#footer {
	background-image: none;
}

.button[disabled], .button:disabled, .button[disabled]:hover, .button:disabled:hover {
	cursor: default;//not-allowed;
	background-color: transparent;
	border-color: silver;
	color: gray;
}

.wrap h2 {
  font-family: inherit;
}
