/* line 17, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../app/assets/stylesheets/jilv/application/reset.css.sass */
input, button, a, object, embed, select {
  outline: medium none;
}

/* line 3, ../../../app/assets/stylesheets/jilv/application/reset.css.sass */
body {
  font-family: "宋体",Tahoma,Verdana,sans-serif !important;
  background: #f8f8f8;
}

/* line 6, ../../../app/assets/stylesheets/jilv/application/reset.css.sass */
.layout_wrap {
  background: #f7f7f7;
}

/* line 8, ../../../app/assets/stylesheets/jilv/application/reset.css.sass */
a:focus, input:focus, button:focus {
  outline: 0 none;
}

/* line 10, ../../../app/assets/stylesheets/jilv/application/reset.css.sass */
input[type="checkbox"] {
  margin-left: 0;
  margin-bottom: 0;
}

/* line 13, ../../../app/assets/stylesheets/jilv/application/reset.css.sass */
body {
  min-width: 960px;
  overflow-x: hidden;
}

/* line 2, ../../../app/assets/stylesheets/jilv/application/icons.css.sass */
[class^="icons-"] {
  background: no-repeat 0 0;
  display: inline-block;
  width: 30px;
  height: 30px;
}

/* line 170, jilv/icons/*.png */
.icons-sprite, .icons-arrow-bottom, .icons-email, .icons-facebook, .icons-friendly, .icons-google, .icons-home, .icons-lock, .icons-login-douban, .icons-login-qq, .icons-login-weibo, .icons-login-weixin, .icons-mail, .icons-tag, .icons-twitter, .icons-user, .icons-weibo, .icons-weixin {
  background: url(./icons-sfe6b851153.png) no-repeat;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrow-bottom {
  background-position: 0 -510px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email {
  background-position: 0 -200px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -265px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-friendly {
  background-position: 0 -300px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-google {
  background-position: 0 -30px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: 0 -480px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-lock {
  background-position: 0 -450px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login-douban {
  background-position: 0 -390px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login-qq {
  background-position: 0 -235px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login-weibo {
  background-position: 0 -100px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login-weixin {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail {
  background-position: 0 -420px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tag {
  background-position: 0 -330px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -130px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user {
  background-position: 0 -360px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-weibo {
  background-position: 0 -65px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-weixin {
  background-position: 0 -165px;
}

/* line 106, jilv/merchant/*.png */
.merchant-sprite, .merchant-avatar1, .merchant-avatar2, .merchant-avatar3, .merchant-icon1, .merchant-icon2, .merchant-icon3, .merchant-icon4, .merchant-icon5, .merchant-icon6 {
  background: url(./merchant-se476da7e44.png) no-repeat;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-avatar1 {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-avatar2 {
  background-position: 0 -156px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-avatar3 {
  background-position: 0 -312px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-icon1 {
  background-position: 0 -1338px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-icon2 {
  background-position: 0 -642px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-icon3 {
  background-position: 0 -468px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-icon4 {
  background-position: 0 -1164px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-icon5 {
  background-position: 0 -816px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.merchant-icon6 {
  background-position: 0 -990px;
}

/* line 3, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
a {
  color: #029ff0;
  text-decoration: none;
}
/* line 6, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
a:hover {
  text-decoration: underline;
}

/* line 9, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.page_size {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 15, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.fixed_header {
  display: block;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
  width: 100%;
  height: 62px;
  z-index: 90;
  position: fixed;
}

/* line 23, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header {
  display: block;
  width: 100%;
  height: 62px;
}
/* line 27, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .logo {
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  width: 140px;
  height: 140px;
  text-indent: -99px;
  overflow: hidden;
  background: #029ff0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 7px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 7px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 39, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .logo h1 {
  display: block;
  width: 113px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  text-indent: -99px;
  overflow: hidden;
  background: url(./logo.png) no-repeat 0 0;
}
/* line 49, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .logo:hover {
  height: 154px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 52, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .top_bar {
  float: right;
}
/* line 54, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .top_bar li {
  display: inline-block;
  height: 62px;
  background: url(./layouts/header_line.png) no-repeat right center;
}
/* line 58, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .top_bar li:last-child {
  background: none;
}
/* line 60, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .top_bar li a {
  display: inline-block;
  padding: 16px 11px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 64, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .top_bar li a:hover {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 67, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .top_bar li a i {
  float: left;
}
/* line 69, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .top_bar li a span {
  float: left;
  padding: 9px;
}
/* line 72, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header {
  display: block;
  float: left;
  margin-left: 140px;
}
/* line 77, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .home-item {
  height: 62px;
  display: inline-block;
  float: left;
}
/* line 81, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item {
  display: inline-block;
  float: left;
  padding: 10px 0 0 10px;
  position: relative;
}
/* line 88, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item.open .go, .layout_header .header .nav .go-item:hover .go {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white;
  border-color: #666666;
  position: relative;
  z-index: 100;
  height: 34px;
}
/* line 95, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item.open .go:after, .layout_header .header .nav .go-item:hover .go:after {
  display: block;
  width: 150px;
  height: 10px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 101;
  content: " ";
  background: white;
}
/* line 105, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item.open .info, .layout_header .header .nav .go-item:hover .info {
  display: block;
}
/* line 107, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info {
  position: absolute;
  z-index: 25;
  top: 50px;
  left: 10px;
  width: 634px;
  border: 1px solid #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white;
  z-index: 99;
  display: none;
}
/* line 128, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info .list {
  padding: 20px;
  font-size: 0;
}
/* line 131, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info .list .box_item {
  width: 148px;
  display: inline-block;
  vertical-align: top;
}
/* line 135, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info .list .box_header {
  display: block;
  font-size: 15px;
  color: #333333;
  margin-bottom: 10px;
}
/* line 140, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info .list .link_item {
  display: block;
  font-size: 15px;
  display: block;
}
/* line 144, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info .list .link_item a {
  padding: 5px 0;
  display: inline-block;
}
/* line 147, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info .info_section {
  display: block;
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  border-top: 1px solid #cccccc;
  font-size: 12px;
}
/* line 154, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info .info_section a {
  color: #999999;
}
/* line 156, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go-item .info .info_section a:hover {
  color: black;
}
/* line 158, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .home {
  height: 46px;
  padding-top: 16px;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 163, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .home:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 165, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .home {
  float: left;
  padding: 16px 20px 0;
  background: url(./layouts/header_line.png) no-repeat right center;
}
/* line 170, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go {
  display: inline-block;
  padding: 6px 9px 0;
  height: 44px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 179, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go .icons-tag {
  float: left;
  margin-right: 4px;
}
/* line 182, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go span {
  float: left;
  display: inline-block;
  font-size: 14px;
  margin: 10px 0 0;
  padding: 0;
}
/* line 188, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_header .header .nav .go .icons-arrow-bottom {
  float: left;
  margin-top: 2px;
}

/* line 192, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home {
  position: relative;
}
/* line 195, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home a img {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 197, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home a:hover img {
  -webkit-filter: brightness(1.15);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 200, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -35px;
  z-index: 25;
}
/* line 208, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go ul, .layout_home .where_to_go li {
  list-style: none;
}
/* line 210, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .destination_box {
  position: absolute;
  z-index: 25;
  top: 0;
  margin-top: 0;
  left: 50%;
  margin-left: -130px;
  text-align: left;
}
/* line 218, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .destination_box .button_destination {
  width: 250px;
  height: 49px;
  border: 4px solid #029ff0;
  background: white;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 227, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .destination_box .button_destination.close {
  display: none;
}
/* line 230, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .destination_box .button_destination span {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  padding-right: 20px;
}
/* line 236, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .destination_box .button_destination i {
  position: absolute;
  top: 10px;
  left: 145px;
}
/* line 241, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .active-block.close {
  display: none;
}
/* line 247, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .active-block .button_destination span {
  position: relative;
  background: white;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  z-index: 55;
}
/* line 252, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .active-block .button_destination i {
  z-index: 56;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 255, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info {
  width: 655px;
  border: 4px solid #029ff0;
  background: white;
  position: relative;
  left: -201px;
  top: -12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 264, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list {
  font-size: 0;
}
/* line 266, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .box_header {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 53px;
  left: 43px;
}
/* line 272, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .link_item {
  width: 144px;
  display: inline-block;
  padding: 6px 5px;
  margin-bottom: 3px;
  font-size: 0;
  position: relative;
}
/* line 280, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .link_item a:hover {
  color: black;
}
/* line 282, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .link_item .link {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: inline-block;
}
/* line 291, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .link_item:hover .link {
  color: black;
}
/* line 293, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .link_item:hover .link_box {
  display: block;
}
/* line 295, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .link_item .link_box {
  position: absolute;
  top: 0px;
  left: 60%;
  border: 1px solid #cccccc;
  width: 120px;
  padding: 5px;
  display: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: white;
  z-index: 99;
}
/* line 307, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .link_item .link_box a {
  display: block;
  font-size: 14px;
  padding: 5px;
}
/* line 311, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .list .link_item .link_box a:hover {
  text-decoration: none;
}
/* line 313, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .box_item {
  border-bottom: 1px solid #cccccc;
  width: 463px;
  margin: 0 auto;
  position: relative;
  padding-left: 133px;
  padding-top: 20px;
  padding-bottom: 9px;
}
/* line 321, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .where_to_go .info .box_item:last-child {
  border: none;
}
/* line 323, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers {
  position: relative;
  font-size: 0;
  width: 100%;
  height: 636px;
  text-align: center;
}
/* line 333, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers .slides_container {
  position: relative;
  width: 1440px;
  height: 636px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}
/* line 340, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers .slides_container .link {
  display: inline-block;
  height: 636px;
  text-align: center;
}
/* line 345, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers .slides_container img {
  width: 100%;
  height: 636px;
}
/* line 349, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers .slides_container .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: repeat-x center top;
}
/* line 354, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers .prev,
.layout_home .covers .next {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  z-index: 25;
  top: 50%;
  margin-top: -30px;
  opacity: 1;
  background-image: url(./layouts/home_arrow.png);
  background-repeat: no-repeat;
}
/* line 366, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers .prev:hover,
.layout_home .covers .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 368, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers .prev {
  left: 50%;
  margin-left: -650px;
  background-position: 0 0;
}
/* line 372, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers .next {
  right: 50%;
  margin-right: -650px;
  background-position: 0 -60px;
}
/* line 376, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .covers:hover .prev, .layout_home .covers:hover .next {
  display: block;
}
/* line 379, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .title {
  text-align: center;
  display: block;
  padding: 62px 0 45px;
}
/* line 383, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .title h2 {
  font-size: 36px;
}
/* line 385, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .title h3 {
  font-size: 25px;
  margin-top: 16px;
}
/* line 388, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme {
  background: #e5e5e5;
  padding-bottom: 35px;
}
/* line 391, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images {
  display: block;
  overflow: hidden;
}
/* line 395, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images .list {
  width: 976px;
}
/* line 397, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images a {
  display: inline-block;
  width: 309px;
  height: 169px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-right: 16px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0.5);
}
/* line 406, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 417, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images a:hover:after {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 420, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 425, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images .description {
  display: block;
  width: 220px;
  height: 52px;
  position: absolute;
  top: 102px;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
}
/* line 434, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images .description h5 {
  font-size: 18px;
  margin-left: 12px;
  margin-top: 8px;
}
/* line 438, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_theme .images .description p {
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
/* line 446, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city {
  background: #f7f7f7;
  border-top: 1px solid #c8c8c8;
  overflow: hidden;
  padding-bottom: 61px;
}
/* line 451, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .title {
  padding: 62px 0 65px;
}
/* line 453, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .images {
  display: block;
  width: 508px;
  float: left;
}
/* line 457, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .images a {
  display: inline-block;
  width: 239px;
  height: 146px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.5);
}
/* line 466, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .images a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 477, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .images a:hover:after {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 480, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .images a h5 {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 5px black;
}
/* line 489, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .images img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 494, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list {
  display: block;
  float: left;
  width: 452px;
  overflow: hidden;
}
/* line 500, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .large_image {
  width: 452px;
  height: 309px;
  display: block;
  font-size: 0;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
/* line 508, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .large_image:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 519, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .large_image:hover:after {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 522, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .large_image img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 526, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .city_item {
  font-size: 0;
  width: 565px;
  padding-top: 21px;
  clear: both;
}
/* line 531, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .city_item .list {
  width: 150px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  margin-right: 2px;
}
/* line 537, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .city_item .list h3 {
  font-size: 18px;
  color: #333333;
}
/* line 540, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .city_item .list ul {
  margin-top: 8px;
}
/* line 542, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .city_item .list ul li {
  display: block;
}
/* line 544, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_home .top_city .city_list .city_item .list a {
  color: #029ff0;
  display: inline-block;
  padding: 8px 0;
}

/* line 550, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer {
  display: block;
  width: 100%;
  background: #f8f8f8;
  border-top: 1px solid #cacaca;
  padding: 32px 0;
  height: 155px;
  position: relative;
}
/* line 558, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info {
  width: 238px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  position: relative;
}
/* line 564, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info h3 {
  color: #707070;
  font-size: 14px;
  width: 68px;
  display: inline-block;
}
/* line 569, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info ul {
  position: absolute;
  width: 112px;
  left: 87px;
  top: 0;
}
/* line 574, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info li {
  padding-left: 10px;
  display: block;
}
/* line 577, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info [class^="icons-"] {
  width: 35px;
  height: 35px;
}
/* line 583, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info1 li {
  margin-bottom: 16px;
}
/* line 585, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info1 a {
  color: #029ff0;
  font-size: 14px;
  display: inline-block;
}
/* line 591, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info2 li {
  padding: 0;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
/* line 598, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info2 li a {
  padding: 0;
  opacity: 0.7;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 602, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info2 li a:hover {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 605, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .info2 li i {
  width: 35px;
  height: 35px;
}
/* line 608, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .copyright {
  color: #707070;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
  top: 0;
  left: 531px;
}
/* line 616, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
.layout_footer .copyright span {
  padding-right: 32px;
}

@media \0screen {
  /* line 620, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
  .layout_home .top_theme .images .description {
    background: #111111;
  }

  /* line 622, ../../../app/assets/stylesheets/jilv/application/home.css.sass */
  .layout_header .top_bar li a:hover {
    background-color: #eeeeee;
  }
}
/* line 2, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .logother li.line span {
  display: none;
}
/* line 4, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .merchant_form {
  position: absolute;
  top: -532px;
  right: 0;
  z-index: 54;
  text-align: left;
}
/* line 10, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .merchant_form .login {
  background: rgba(255, 255, 255, 0.75);
}
/* line 12, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .merchant_form .login .title {
  text-align: left;
}
/* line 15, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .about_jilv {
  background: #f7f7f7;
  padding-bottom: 19px;
  border-bottom: 1px solid #dedede;
}
/* line 19, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .about_jilv .title {
  display: block;
  text-align: center;
  font-size: 38px;
  padding: 60px 0;
}
/* line 25, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .about_jilv .info li {
  display: inline-block;
  width: 230px;
  vertical-align: top;
  margin-bottom: 42px;
}
/* line 30, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .about_jilv .info li.info2, .merchant_new .about_jilv .info li.info5 {
  width: 500px;
}
/* line 33, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .about_jilv .info i {
  width: 174px;
  height: 174px;
  display: block;
  margin: 0 auto;
}
/* line 38, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .about_jilv .info h3 {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  line-height: 160%;
  padding: 18px 0 7px;
}
/* line 44, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .about_jilv .info p {
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 160%;
}
/* line 50, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment {
  background: #e5e5e5;
  padding: 50px 0 65px;
  border-bottom: 1px solid #dedede;
}
/* line 54, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment .title {
  display: block;
  text-align: center;
  font-size: 36px;
  padding: 11px 0 62px;
}
/* line 59, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment .item {
  width: 258px;
  display: inline-block;
  margin: 0 0 0 46px;
}
/* line 63, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment .item i {
  width: 156px;
  height: 156px;
  display: block;
  margin: 0 auto;
}
/* line 68, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment .item h5 {
  font-size: 20px;
  display: block;
  padding: 26px 0 5px;
  text-align: center;
  font-weight: bold;
}
/* line 74, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment .item h6 {
  font-size: 16px;
  display: block;
  padding: 0 0 28px;
  text-align: center;
}
/* line 79, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment .item p {
  font-size: 16px;
  text-indent: 2em;
  line-height: 170%;
}
/* line 83, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment .more_link {
  clear: both;
  text-align: center;
  display: block;
  padding-top: 50px;
}
/* line 88, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .good_comment .more_link a {
  font-size: 16px;
}
/* line 90, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .step {
  background: #f7f7f7;
}
/* line 92, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .step .title {
  display: block;
  text-align: center;
  font-size: 38px;
  padding: 59px 0 57px;
}
/* line 97, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .step .list {
  display: block;
  height: 280px;
  background: url(./merchant_step.png) no-repeat center top;
}
/* line 101, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .step span {
  width: 240px;
  display: block;
  float: left;
  text-align: center;
  font-size: 24px;
  padding-top: 199px;
  font-weight: bold;
}
/* line 109, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .step span.step4 {
  text-align: right;
}
/* line 111, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .create_button {
  clear: both;
  text-align: center;
  padding: 1px 0 58px;
}
/* line 115, ../../../app/assets/stylesheets/jilv/application/merchant.css.sass */
.merchant_new .create_button a {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #029eef;
  color: white;
}

/* line 2, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.layout_user .login {
  margin: 50px auto;
}

/* line 4, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother {
  display: block;
  width: 310px;
  margin: 16px auto 0;
}
/* line 8, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li {
  display: block;
  height: 46px;
  width: 100%;
  margin-bottom: 9px;
  position: relative;
}
/* line 15, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li.url:after {
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0px;
  left: 66px;
  content: " ";
}
/* line 24, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li.url i {
  position: absolute;
  top: 7px;
  left: 18px;
}
/* line 28, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li.line {
  height: 16px;
  position: relative;
  text-align: center;
  margin-bottom: 0px;
}
/* line 33, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li.line:after {
  display: block;
  width: 286px;
  height: 1px;
  background: #cccccc;
  position: absolute;
  top: 7px;
  left: 11px;
  content: " ";
}
/* line 42, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li.line span {
  padding: 0 5px;
  background: white;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  z-index: 4;
  color: #4c4c4c;
  font-size: 16px;
}
/* line 51, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li a {
  display: block;
  padding-left: 67px;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 46px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 60, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li a:hover {
  text-decoration: none;
}
/* line 62, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li a.weibo {
  background: #be322d;
}
/* line 64, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li a.weibo:hover {
  background: #6f1d1b;
}
/* line 66, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li a.douban {
  background: #0db20d;
}
/* line 68, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li a.douban:hover {
  background: #0a6d0a;
}
/* line 70, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li a.qq {
  background: #eca700;
}
/* line 72, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.logother li a.qq:hover {
  background: #936903;
}

/* line 74, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login {
  width: 360px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 80, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .title {
  background: #e5e5e5;
  color: 444;
  font-size: 16px;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #c6c6c6;
}
/* line 87, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .footer {
  border-top: 1px solid #c6c6c6;
  padding: 20px;
  display: block;
  font-size: 14px;
  color: #4c4c4c;
}
/* line 93, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .footer a {
  color: #029eef;
}
/* line 95, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform {
  font-size: 14px;
  width: 312px;
  margin: 10px auto 23px;
}
/* line 99, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform li {
  display: block;
  position: relative;
  margin-bottom: 7px;
}
/* line 104, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform li i {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 5;
}
/* line 109, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform label, .login .userform .treaty_url {
  color: #4c4c4c;
}
/* line 111, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform .treaty_url {
  padding: 10px 0;
}
/* line 113, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform input[type="text"],
.login .userform input[type="password"] {
  padding: 10px;
  font-size: 14px;
  width: 92%;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 120, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform input[type="text"]:focus,
.login .userform input[type="password"]:focus {
  border-color: #029eef;
  -webkit-transition: box-shadow 0.3s ease, border-color 0.2s ease;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition: box-shadow 0.3s ease 0s, border-color 0.2s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s, border-color 0.2s ease 0s;
  transition: box-shadow 0.3s ease 0s, border-color 0.2s ease 0s;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1) inset, 0 0 6px 0 rgba(2, 158, 239, 0.6);
  -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1) inset, 0 0 6px 0 rgba(2, 158, 239, 0.6);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1) inset, 0 0 6px 0 rgba(2, 158, 239, 0.6);
}
/* line 124, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform .field_with_errors input[type="text"],
.login .userform .field_with_errors input[type="password"] {
  border-color: #f77974;
  color: #ee524c;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1) inset, 0 0 6px 0 rgba(247, 121, 116, 0.6);
  -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1) inset, 0 0 6px 0 rgba(247, 121, 116, 0.6);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1) inset, 0 0 6px 0 rgba(247, 121, 116, 0.6);
}
/* line 129, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform .forget_pw {
  float: right;
}
/* line 131, ../../../app/assets/stylesheets/jilv/application/login.css.sass */
.login .userform .loginbtn {
  display: block;
  color: white;
  border: 0;
  font-size: 20px;
  background: #029eef;
  width: 100%;
  padding: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
}
