- @page_title = '查看库存'

= render 'layouts/application/nav', current: 'merchant'
.container
  .side.lfloat
    .row-290
      = render 'layouts/application/nav_business', current: 'product'
  .main.rfloat
    ruby:
      year = 2014
      month = 5
    .selectable-calendar data-start-day='' data-end-day='' data-week-day=''
      = calendar(:year => year,
                 :month => month, 
                 :show_today => true, 
                 :show_week_numbers => false,
                 :first_day_of_week => 1,
                 :previous_month_text => '#',
                 :next_month_text => '#',
                 :calendar_title => "#{year}年#{month}月",
                 :table_class => 'calendar room_residue_calendar room-residue-calendar',
                 :table_id => "#{year}-#{"%02d" % month}",
                )