.search-box
	height: 40px
	width: 360px
	position: relative
	margin-top: 15px
	.text
		width: 252px
		background-color: #FFFFFF
		border: 2px solid #D9DAD0
		border-radius: 4px
		font-size: 16px
		height: 34px
		margin: 0
		opacity: 1
		outline: medium none
		padding-left: 6px
		@include transition(border 0.3s ease-in-out 0s)
		vertical-align: middle
		padding-right: 60px
		&:focus
			border: 2px solid #00AEEF
	.search-send
		background-color: #00AEEF
		border-image: none
		border-radius: 0 6px 6px 0
		border-color: #00AEEF #00AEEF #009DD5
		border-image: none
		border-style: solid
		border-width: 2px
		border-left: 0px
		color: rgba(0, 0, 0, 0)
		font-size: 2.2rem
		height: 40px
		overflow: hidden
		position: absolute
		right: 0
		@include transition(border 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s)
		z-index: 13
		color: #fff
		font-size: 16px
		padding: 0 20px
		&:hover
			background-color: #56D2FF
			border-color: #56D2FF
		.icons-search-btn
		



