.tab_nav
	background-color: #ECEDE8
	border-bottom: 1px solid #D9DAD0
	height: 50px
	padding: 10px 0 0
	width: 100%
	ul.tablist
		background-color: #ECEDE8
		border-bottom: 1px solid #D9DAD0
		height: 50px
		padding: 0
		position: relative
		z-index: 10
		li
			display: block
			float: left
			font-size: 18px
			font-weight: 600
			height: 50px
			line-height: 50px
			padding: 0 18px
			&:first-child
				margin-left: 109px
			&.selected
				background-color: #FFF
				@include border-radius(6px 6px 0 0)
				border: 1px solid #D9DAD0
				border-bottom: 0
				a
					color: #3A3A32
			a
				color: #606159

.sub_nav
	padding: 0
	position: relative
	width: 288px
	background-color: #ECEDE8
	@include border-radius(6px)
	float: left
	margin: 50px 0 0 0
	ul.tablist
		li
			border: 1px solid #D9DAD0
			font-size: 18px
			height: 60px
			line-height: 60px
			&:last-child
				border-top: 0
				border-bottom-left-radius: 4px
				border-bottom-right-radius: 4px
			&:first-child
				border-bottom: 0
				border-top: 1px solid #D9DAD0
				border-top-left-radius: 4px
				border-top-right-radius: 4px
			&.selected
				background-color: #FFF
				a
					color: #3A3A32
			a
				color: #606159
				display: block
				margin: 0
				padding: 0 20px
				text-decoration: none
				&:hover
					text-decoration: none
					color: #3A3A32
				i
					margin-right: 10px
.profile-form,
.password-form,
.preferences-form
	margin: 50px 0 0 0


.preferences-form
	.formbody hr
		margin: 30px 0 20px

.toptips
	background: #FFF0C0
	display: block
	font-weight: normal
	line-height: 1.5
	padding: 12px 10px 10px
	text-align: center
	width: 100%
	&.bule
		background: #bfebfb
		text-align: left
	.btnblock
		display: block
		margin-top: 10px
.wishlists
	padding-top: 20px
	.wish-title
		margin: 0 0 10px
		padding: 10px 0 15px 0
		font-size: 24px
		border-bottom: 1px solid #D9DAD0
		color: #333
		margin-top: 20px
	.more-link
		display: inline-block
		color: #333
		text-decoration: underline
		font-size: 14px
		margin-top: 10px
	.list
		.wishblock
			display: block
			a
				display: inline-block
				height: 88px
				text-decoration: none
				width: 172px
				position: relative
				padding-left: 110px
				vertical-align: top
				margin-bottom: 10px
				&:nth-child(3n-2)
					margin-right: 56px
				&:nth-child(3n-1)
					margin-right: 56px
				&:hover
					background: #eee
					@include border-radius(4px)
			.pic
				@include border-radius(3px)
				display: block
				height: 66px
				left: 10px
				position: absolute
				top: 10px
				width: 94px
			.title
				margin-top: 10px
				color: #333
				font-size: 18px
			.country
				font-size: 14px
				color: #999
				margin-top: 16px
				.flag-icon
					float: left
					margin-right: 5px
			.tours
				display: block
				color: #333
				font-size: 12px
				clear: both
				margin-top: 5px
				span
					padding-right: 5px
			.arrow
				background: asset-url("jilv/other/location_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
				display: block
				height: 41px
				left: 246px
				position: absolute
				text-indent: -99px
				top: 38px
				width: 22px
				overflow: hidden

.bookings
	padding-top: 20px
	.wish-title
		margin: 0 0 10px
		padding: 10px 0 15px 0
		font-size: 24px
		color: #333
		margin-top: 20px
	.title
		background: #ecede8
		font-size: 18px
		color: #333
		padding: 10px
		display: block
		margin-bottom: 20px
	.list
		display: block
	.bookblock
		display: block
		position: relative
		padding-left: 200px
		margin-bottom: 20px
		.pic
			width: 175px
			height: 115px
			display: block
			position: absolute
			top: 0px
			left: 0px
			overflow: hidden
			img
				width: 100%
				height: 100%
		.name
			font-size: 18px
			color: #333
			text-decoration: underline
			font-weight: bold
			padding-bottom: 5px
			margin-bottom: 5px
		.b-info
			display: block
			font-size: 12px
			color: #3a3a32
			line-height: 150%
			margin-bottom: 15px
		.operating
			.stext
				display: block
				font-size: 12px
				color: #3a3a32
				margin-bottom: 10px
			.button
				margin-right: 10px
				text-decoration: none
.dashboard
	padding-top: 50px
	h2
		margin: 0 0 10px
		padding: 10px 0 15px 0
		font-size: 24px
		border-bottom: 1px solid #D9DAD0
		color: #333
.dashboard-info
	background-color: #FFF
	border: 2px solid #D4D4D4
	padding: 30px 36px 20px
	width: 180px
	@include border-radius(6px)
	.pic
		width: 180px
		height: 180px
		border: 1px solid #D4D4D4
		display: block
		padding: 0
		background: asset-url("jilv/other/avatar-180.png") no-repeat scroll 0 0 #fff
		img
			width: 100%
			height: 100%
	.name
		font-size: 18px
		color: #3A3A32
		display: block
		padding: 10px 0
	.edit
		color: #00ADF2
		font-size: 16px
		text-decoration: none
.messages-list
	.link
		display: block
		padding: 10px 0 10px 40px
		text-decoration: none
		position: relative
		.icons-user-blue,
		.icons-facebook-blue
			position: absolute
			top: 10px
			left: 10px
		strong
			color: #00ADF2
			font-size: 16px
			display: block
			padding: 3px 0
		span
			color: #9B9B9B
			font-size: 14px
			display: block
			padding: 6px 0
		&:hover
			span
				color: #333
.activities-list
	padding: 5px 0
