// 临时文件
@import "admin/application/calendar-system"

.field_with_errors
  display: inline
body
  font-family: 'Helvetica New',Helvetica,Arial,sans-serif !important
.new_c_title
  float: left
  width: 90%
  img
    float: left
  span
    float: left
    margin-top: 4px
    margin-left: 3px
  a
    float: right
    margin-right: 5px
.sub-box
  .title
    cursor: default
    font-size: 14px
    padding: 5px 10px
  a
    text-decoration: none
.image_list .list li .link .description h5
  font-size: 20px
  margin-left: 16px
  margin-top: 20px
.formbody .textfield .field_with_errors input
  border-color: #C60006 !important
.business_table
  width: 100%
  margin: 10px 0
  border: 2px solid #D9DAD0
  font-size: 14px
  th, td
    text-align: center
    padding: 10px 5px
    border: 1px solid #ECEDE8
h3.title_h
  padding-top: 15px
  padding-bottom: 10px
  font-size: 20px
  font-weight: bold
.item
  font-size: 13px
.item_control
  width: 15%
  float: left
  padding-top: 5px
  color: #7D7D7D
.control_label
  float: right
.control_input
  width: 83%
  float: left
  color: #7D7D7D
  margin-left: 2%
.control_input_w
  width: 83%
  float: left
  margin-left: 2%
.newtextfield
  input
    width: 300px
    height: 20px
  textarea
    width: 300px
    height: 80px
.confirm_new_in
  margin-left: 17%
  width: 250px
#disch_button
  display: none
#batch_button,#disch_button,.orange_button
  padding: 3px 10px 3px 10px
  background: #ff862f
  color: white
  border: 0px
.check_css
  margin-right: 3px
  margin-left: 5px
ul.check_list
  float: left
  padding: 5px
  width: 100%
  margin-left: 22px
  margin-top: 15px
  margin-bottom: 10px
  li
    float: left
    margin-right: 25px
.hidden
  display: none
.price
  font-size: 12px
  color: #ff9500
  padding-top: 5px
  cursor: pointer
.add_price
  font-size: 12px
  color: #ff9500
  padding-top: 5px
  display: none
  cursor: pointer  
.comfirn_btn
  font-size: 12px
  background: #ff9600
  color: white
  padding-top: 3px
  padding-bottom: 3px
  margin-top: 5px
  margin-left: 10px
  margin-right: 10px
  display: none
._inventory
  &:hover
    border: 1px solid #ff9600
    background: #fff6c3
.cal_s
  float: left
  border: 1px solid #ccc
  padding: 5px
.start_end_list
  display: none
  float: left
  width: 100%
  height: 30px
  margin-left: 28px
  margin-top: 15px
  li
    float: left
    line-height: 30px
    height: 30px
  .input_css_c
    float: left
    width: 200px
    margin-right: 26px
    input
      width: 200px
.time_style:hover
  color: white
  cursor: pointer
  background: #74acfb
.time_add_style:hover
  color: white
  cursor: pointer
  background: #74acfb
.time_select_style
  color: white
  cursor: pointer
  background: #74acfb
.gray
  background: #F8F8F8
.clear_price
  float: right
  cursor: pointer
.tab_list
  float: left
  width: 70%
  height: 30px
  border-left: 1px solid #ccc
  .current_t
    float: left
    height: 27px
    border: 1px solid #ccc
    border-left: 0px
    border-top: 2px solid #ff9600
    border-bottom: 1px solid #fff
    padding: 0 12px
    line-height: 26px
    background: #fff
    cursor: default
  .com_t
    float: left
    height: 28px
    border: 1px solid #ccc
    border-left: 0px
    border-bottom: 0px
    padding: 0 12px
    line-height: 28px
    background: #f4f4f4
    cursor: pointer